# Operators and Expressions

## Practice Exercises

### Perform arithmetic operations

In [1]:
a, b = 10, 5
print(a + b, a - b, a * b, a / b, a % b)

15 5 50 2.0 0

### Check equality

In [2]:
print(10 == 10, 10 != 5, 10 > 5, 5 < 10)

True True True True

### Use logical operators

In [3]:
x, y = True, False
print(x and y, x or y, not x)

False True False

### Order of operations

In [4]:
print(2 + 3 * 4)
print((2 + 3) * 4)

14
20

COMPARISON OPERATORS:

== Equals 
!= Not equal
>= greater than equals
<= less than equal

and, or, not operators

In [6]:
a = 23
b = 10

In [7]:
a == 23 and b == 10

True

In [8]:
a == 23 and b == 56

False

In [9]:
a == 23 or b == 56

True

In [10]:
a = "abcd"

In [11]:
#is the expression “b” in the variable a? 
"b" in a

True

In [12]:
#is the expression “f” in the variable a? 
"f" in a

False

Identity Operator: Everything in Python has an identification number. We can find this identification number with the id() function.

In [14]:
a = 100
id(a) #the identification number of the number 100 represented by the variable a

4474428224

### Basic string manipulations

In [3]:
mylist = [1, 3, "ATGC", 22, "one million", "4.2"]

In [4]:
mylist[0]
mylist[1]
mylist[-1]
mylist[-2]

'one million'

In [5]:
sequence = 'ASDFQWERTY'

sequence[0] #positions/indices start with 0, NOT 1 !!!
sequence[1]
sequence[-1] #read backwards with negative indices 
sequence[-2]

'T'

In [6]:
sequence[4:6] #This will give the 5th and 6th element. 
sequence[0:3] #0 can be optionally ignored, sequence[:3] 
sec_two_pos = mylist[1:3] #assign to a variable
last_two_pos = mylist[-2:]
print(sec_two_pos, last_two_pos)

[3, 'ATGC'] ['one million', '4.2']

### CONDITIONAL CONDITIONS: if, else, elif


IF statements let you conditionally do a task. The basic syntax for a comparison is as follows: 
if item1 == item2: 
	#do something 
else: 
	#do something else

In [1]:
sequence = 'ATGACA'
if len(sequence) > 10:
    print("This is a long DNA fragment")
else:
    print('It is a short piece of DNA.')

It is a short piece of DNA.

for loop: Repeats the operations one by one with specified start, end and increment values. 
if you need to write from 1 to 100, such a solution will not be correct! In this case, loop structures should be preferred. While and for structures for loops in Python 
is used. 
Ex: Let's print all the numbers from 1 to 100. Let our variable be n;

In [7]:
for n in range(1,100):
    print(n, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

Now let's print all the odd numbers from 1 to 100. Let our variable be n again;

In [8]:
for n in range(1,100,2):
    print(n, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

Ex: Let's print the numbers from 21 to 0 by decreasing them by 3.

In [12]:
for n in range(21, 0, -3):
    print(n, end=" ")

21 18 15 12 9 6 3

Ex: Sum of numbers from 1 to 100

In [13]:
top = 0
for i in range(1, 100):
    top += i
print(top)

4950

Ex: Program that prints 10 and powers of 10

In [14]:
for i in range(5):
    print("{}".format(10**i))

1
10
100
1000
10000

In [15]:
numbers = "1234567" 
for i in numbers:
    if int(i) > 3:
        print(i, end=" ")

4 5 6 7

Explanation: We created a numbers variable. We separated each character in the expression “1234567” . So all numbers have now declared their independence. We also assigned each character to the variable i . However, we converted these characters to integers by writing the code int(i) . Because We need to convert the data into numbers to perform mathematical operations. We printed the numbers greater than 3 with the if command.

#### while loop: Repeats operations as long as a condition is met. The English word while means 'while, as long as...' in Turkish.

In [23]:
a = 1
while a < 5: # as long as a is less then 5
    print(a, "a is less then 5")
    a += 1

1 a is less then 5
2 a is less then 5
3 a is less then 5
4 a is less then 5

Explanation: In the first line, we assigned 1 to the variable a. When we reached the second line, we checked whether the variable was less than 5. If it was less than 5, our code would go to the next line and the variable would be printed on the screen. When we reached the last code, the variable a would increase by 1 and become 2 and enter the loop. Then the loop would continue and 2 would be printed on the screen. This would be provided until a is not less than 5. In other words, when a is 5, that is, when the while a<5: condition is not met, the loop would stop and only 1 2 3 4 would be printed on the screen.