# Variables and Data Types

## Practice Exercises

VARIABLE RULES: 

1. Variable  names should not start with numbers.

In [3]:
3_kg_apple = “10 $”

SyntaxError: invalid decimal literal (3607159115.py, line 1)

In [10]:
kg_apple_3 = "10 $"
print(kg_apple_3)

10 $

2. Variable names should not contain special symbols (except _ underscore)

In [9]:
income? =  "500 TL"

SyntaxError: invalid syntax (2473153206.py, line 1)

3. There are no spaces in variable names.

In [8]:
username = "admin"
kulllanici_adi = "admin"

Note: We can use Turkish characters in variable names. However, in case of compatibility problems, try to avoid this.

4. Some words with special meanings are not used in variable names.

In [11]:
True=5

SyntaxError: cannot assign to True (1358131660.py, line 1)

In [12]:
true=5 #here is no error due to case sensitivity.

In [14]:
and=8

SyntaxError: invalid syntax (3730076805.py, line 1)

In [15]:
And=8 #here is no error due to case sensitivity.

In [17]:
#Note: Write the following codes to see words with special meanings in Python. 
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### Define and print a variable

In [ ]:
x = "Python"
y = 3.14
print(x, y)

### Convert a string to an integer

In [ ]:
num = int("42")
print(num, type(num))

### Find the length of a string

In [ ]:
text = "Programming"
print(len(text))
print("Length:", len("Hello World"))

### Concatenate strings

In [ ]:
a = "Hello"
b = "World"
print(a + " " + b)

### Check data types

In [ ]:
var1 = 10
var2 = 5.5
var3 = "Python"
print(type(var1), type(var2), type(var3))

We can assign two or more variables to a value.

In [19]:
a=b=c=4 #4*4+4
print(a*b+c)

20

We can assign different values to a variable many times. The last value is valid.

In [20]:
x = 10
x = 20
x = 30 
print(x+5) #30+5

35

Multiple assignment process

In [22]:
x, y, z = 4,3,2
print(x*y-z) #4*3-2

10

Variable Swap

In [23]:
x,y,z=4,3,2
x,y,z=y,z,x #x is now y, y is now z, z is now x.
print(z**y*x) #4**2*3

48

To cancel a variable, we can close and open the command window or use the del command.

In [ ]:
a=2
print(a)

In [24]:
del a
#The variable a no longer exists, so it has been cancelled. 
print(a) #The code will now throw an error because we have canceled the a variable.

NameError: name 'a' is not defined

#DATA TYPES:

string: Any sequence of characters within quotes.

In [25]:
print("Hello World" )

Hello World

Note: It is not necessary to use double quotes in strings. We can also use single or triple quotes.

In [27]:
'Hello World' #single quote

'Hello World'

In [28]:
'''Hello World''' #three single quotes

'Hello World'

In [29]:
"""Hello World""" #three double quotes

'Hello World'

In [30]:
#we use triple quotes in Python is to be able to go to the next line. 
'''Computer 
Science 
Lesson'''

'Computer \nScience \nLesson'

So, why do we sometimes need to use single or double quotes? For example, let's say we want to get an 
output like this. The provinces of Istanbul 
There is an apostrophe in this expression. We cannot enclose a string with an apostrophe in single 
quotes. So we must use the alternative, double or triple quotes.

In [32]:
'New York's Provinces'

SyntaxError: unterminated string literal (detected at line 1) (660847692.py, line 1)

In [33]:
"New York's Provinces"

"New York's Provinces"

In [34]:
'''New York's Provinces'''

"New York's Provinces"

integer: They are whole numbers. They can take positive, negative or zero values. They do not contain 
fractional values. For example: 10, 0, -10

float: Real numbers. Also called floating point numbers. However, here we need to use a dot instead of a comma. Ex: 12.6, 12.0, -12.0, 0.0

bool: Questions whether any statement is true or false. Bool can take two values. These are True and False .

str(): Converts data to string (character array).

In [35]:
str(4) #Output: '4' 
str(4.0) #Output: '4.0' 
str(10+2) #Output: '12' 
str(10/2) #Output: '5'

'5.0'

int(): Converts data to integer (integer).

In [37]:
int(28.9) #Output: 28 
int(5+4) #Output: 9 
int(5/3) #Output: 1 
int(5*0.4) #Output: 2 
int(0.8+0.9) #Output: 1 
int("5") #Output: 5

5

Note: To convert the data in quotes to integers, the expression in quotes must be an integer. is required. Otherwise, the conversion process cannot be done.

In [38]:
int("28.9") #the expression in quotes is not an integer. Gives an error. 
int("5+4") #error, the expression in quotes is not an integer. Gives an error. 
int("computer") #error, the expression in quotes is not an integer. Gives an error.

ValueError: invalid literal for int() with base 10: '28.9'

float(): Converts data to float (real number).

In [39]:
float(5) #Output: 5.0 
float("5") #Output: 5.0 
float("5.7") #Output: 5.7 
float(-5) #Output: -5.0 
float(0) #Output: 0.0 
float(3+4) #Output: 7.0 
float(3.5+4) #Output: 7.5

7.5

Note: In order to convert the data in quotes to float, the expression in quotes must be an integer or float. Otherwise, the conversion cannot be done.

In [40]:
float("3+4") #the expression in quotes is not an integer or a float. It gives an error.

ValueError: could not convert string to float: '3+4'

print() function: It is the function to print on the screen.

In [ ]:
#Rule: We need to enclose strings in quotes. 
print("Hello World") #Output: 'Hello World' 

#Rule: We can also enclose strings in single quotes. 
print('Hello World') #Output: 'Hello World' 

#Rule: We can also enclose strings in three single quotes. 
print('''Hello World''') #Output: 'Hello World' 

#Rule: We can also enclose strings in three double quotes. 
print("""Hello World""") #Output: 'Hello World'

#Rule: If we do not enclose strings in quotes, the code will give an error. 
print(Hello World) #Output: Error 

#Rule: We do not need to put numbers in quotation marks. 
print(5) #Output: 5 
#Rule: If we put numbers in quotes, it is now a string. Therefore, it does not have any mathematical meaning. 


#Rule: If there is a mathematical operation in parentheses, the result is written. 
print(6+3) #Output: 9 

#Rule: If a mathematical operation is written in quotes, the data will become a string, so the operation is not performed and it is written as is. 
print('5+4') #Output: '5+4' 

#Rule: An empty string can be printed to the screen. 
print() #Output: 

#Rule: Commas leave a space between statements. 
print("Computer", "Science", "Coding") #Output: Computer Science Coding 

#Rule: The + sign combines expressions. 
print("single"+" "+"cell") #Output: singlecell. 
#There is a space character inside the middle double quote. So we added a space character in between. 
#Rule: Expressions can be combined without using the + sign. 
print(999 + "9") #integer and string are not added Output: Error

In [43]:
print("single"+"cell")

singlecell